CHAIN_ID=13939
RPC_URL=http://34.123.142.246:8545
BACKEND_PORT=8080
CLIENT_PORT=3000
POSTGRES_DB=sqwid
POSTGRES_USER=sqwid
POSTGRES_PASSWORD=sqwid
POSTGRES_PORT=5432
IPFS_API_PORT=5001
IPFS_GATEWAY_PORT=8081
CORS_ORIGIN=http://localhost:3000
