node_modules
apps/**/node_modules
packages/**/node_modules

#Hardhat files
cache
artifacts
bin
packages/contracts/cache
packages/contracts/artifacts

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

*.code-workspace
.secret
.env
seeds.json
notes.txt
TODO.txt
*.temp-file
.temp
Library/
apps/backend/.env
apps/client/.env
docker-data/
