PORT=8097
DATABASE_URL=postgresql://sqwid:sqwid@postgres:5432/sqwid
RPC_URL=https://eth.reef-node-reefdevcluster-808c46-72-60-35-83.nip.io/
CHAIN_ID=13939
JWT_SECRET=replace-me
IPFS_API_URL=http://ipfs:5001
IPFS_GATEWAY_URL=http://ipfs:8080/ipfs/
CORS_ORIGIN=http://localhost:3017
SYNC_START_BLOCK=
DEFAULT_COLLECTION_ID=ASwOXeRM5DfghnURP4g2
MODERATORS=
