REACT_APP_CHAIN_ID=13939
REACT_APP_RPC_URL=https://eth.reef-node-reefdevcluster-808c46-72-60-35-83.sslip.io
REACT_APP_BACKEND_URL=http://localhost:8097
REACT_APP_CHAIN_NAME=Sqwid 13939
REACT_APP_CURRENCY_SYMBOL=REEF
